# Backend API URL
# For local development (same machine)
# VITE_BACKEND_URL=http://localhost:5000

# For remote access (ngrok or production)
# Update this with your backend ngrok URL
VITE_BACKEND_URL=https://c49a-2409-40e3-1e1-89a2-69f2-e2b4-934b-213.ngrok-free.app
